html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

header {
  height: 70px;
  background-color: #cff;
  margin-bottom: 10px;
}

main {
  min-height: 600px;
  background-color: #eee;
  padding: 20px;
}

.btn-box {
  width: 400px;
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
}

.btn {
  display: inline-block;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  transition: background-color .25s linear, color .25s linear;
}

.btn:hover {
  background-color: #000;
  color: #eee;
}

.text-center {
  text-align: center;
}

@media (min-width: 500px) {
  main {
    margin: 0 10%;
  }
}