:root {
  --btn-bg: #c0c9db;
  --btn-bg-hover: #346ad8;
  --btn-outline: #9d9cc9;
  --btn-text: #000;
  --btn-text-hover: #fff;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(135deg, black, white);
}

main {
  min-height: 80vh;
}

header {
  background-color: #f3f3f3;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #d6d6d6;

  & p {
    padding: 20px;
    margin: 0;
  }
}

.nav-links {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  & .link {
    color: inherit;

    & li {
      display: block;
      float: left;
      padding: 20px;
    }
  
    & li:hover {
      background-color: #333;
      color: #eee;
    }
  }
}

main {
  background-color: #eee;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

.btn-box {
  width: 400px;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}

.btn {
  display: inline-block;
  color: var(--btn-text);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-outline);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn:hover {
  animation: shake-fill .3s ease-in forwards;
}

@keyframes shake-fill {
  50% {
    transform: rotate(2deg);
  }
  100% {
    color: var(--btn-text-hover);
    background-color: var(--btn-bg-hover);
  }
}

.write-container {
  display: flex;
  background-color: var(--btn-bg);

  & div {
    width: 50%;
    padding: 10px
  }
}

.note {
  height: 200px;
  width: 100%;
  resize: none;
}

#btn-save {
  display: block;
  margin: 20px auto;
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: auto;
  padding: 20px 15px 10px 15px;
  width: 500px;
  border-radius: 10px;
  background-color: #d6d6d6;

  & .input-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;

    & label {
      width: 30%;
      text-align: right;
    }

    & input {
      width: 70%;
    }
  }
}

.txt-click {
  font-style: italic;
  cursor: pointer;
  text-align: center;
}

.txt-click:hover {
  font-weight: bold;
  text-decoration: underline;
}

hr {
  margin: 50px 0;
}

@media (min-width: 500px) {
  main {
    margin: 0 10%;
  }
}